[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mock = "*"
pytest = "*"
pytest-cov = "*"
hypothesis = "*"
pycodestyle = "*"
coverage = "*"
pynt = "*"
coveralls = "*"
awscli = "*"
cfn-lint = "*"
invoke = "*"
pygithub = "*"
PyYAML = "*"

[packages]
urllib3 = "*"
requests = "*"
boto3 = "*"
botocore = "*"

[requires]
python_version = "3.6"
